name: CRONOS Guard

on:
  push:
  pull_request:

jobs:
  cronos:
    runs-on: ubuntu-latest
    steps:
      - uses: cythonvijay/cronos-action@v1
        with:
          api_url: ${{ secrets.CRONOS_API_URL }}
